In [1]:
ss = "hello world"
xx =34
yy = 3.45

In [47]:
# make a list

MyList = [3,2.44,"green", True]

In [48]:
type(3)
type(2.44)
type("green")
type(True)

bool

In [49]:
xx = "red"

yy = "red"

In [50]:
xx == yy # bool comparison

True

In [51]:
xx != yy # bool comparison, are these two not equal to each other?

False

In [52]:
type(xx)

str

In [53]:
# '=='  regardless of the type, you're asking if these two are the same

In [54]:
# Index of element in a list is position
# first element in Python occupies position 0, in R it is 1

type(MyList[1])

float

In [55]:
type(MyList[2])

str

In [56]:
type(MyList[3])

bool

In [57]:
type(MyList[4])

IndexError: list index out of range

In [58]:
for element in MyList:
    print(type(element))
    
 # intepreter will take text and send to Python
# ignores anything after comment character

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [59]:
# for element in MyList:
   # print(type(element))

# len(MyList)   
# type(range(4))

# help(range)

range(0,4) # output doesn't come out as a list in Python 3
# behaves the same way in the context of a loop

list(range(4))

[0, 1, 2, 3]

In [60]:
# Python knows list, items can be addessed individually

listlen = len(MyList) # Get the length of the list

for index in range(listlen):
        element = MyList[index] # extract item at the index "element"
        print(type(element))
        
# you can have nested series in command
# order of op: inner most fxn in the nested series para to outer most para

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [61]:
# slicing or subsetting a list

# MyList[0]

MyList[1:2] #begin on left of ':' at index 1
# but ends but doesn't include index 2]

[2.44]

In [62]:
MyList[0:3] # gives 0, 1 and 2 position

[3, 2.44, 'green']

In [63]:
MyList[2:] # omit after ':' assumes you want everything until the end

# negative values moves backwards from a list

MyList[-1]

True

In [64]:
# copy() duplicates a list
# the two objects are then separate from each other

list2 = MyList.copy()


MyList

[3, 2.44, 'green', True]

In [65]:
list2

[3, 2.44, 'green', True]

In [66]:
MyList.clear()
MyList

[]

In [67]:
list2

[3, 2.44, 'green', True]

In [68]:
MyList = [3,2.44,"green", True]

list3 = MyList

In [69]:
list3.pop()
list3

[3, 2.44, 'green']

In [70]:
xx = "dinosaur"
MyList.append(xx)
MyList

[3, 2.44, 'green', 'dinosaur']

In [73]:
MyList = [3,2.44,"green"]
MyList.append(MyList) #append fxn takes () as an argument and adds to list
MyList

# contains a list inside of it

[3, 2.44, 'green', [...]]

In [76]:
MyList =[3,2.44,"green"]
list2 = ["2", "two", 2]

MyList.extend(list2)
MyList

[3, 2.44, 'green', '2', 'two', 2]

In [77]:
MyList =[3,2.44,"green"]
list2 = ["2", "two", 2]

MyList.append(list2)
MyList

[3, 2.44, 'green', ['2', 'two', 2]]

In [78]:
# dictionaries are like unordered lists
# lists are ordered
# dictionaries are for data with relationship to some value but unordered

In [79]:
# creating a dictionary
#{}

# creat an empty dictionary
my_dict = {}
my_dict

{}

In [88]:
# specify key-value pairs
# separated by ':' vs ","

my_dict = {}
my_dict["dinosaur"] = 1000
my_dict["dog"] = 10
my_dict

{'dinosaur': 1000, 'dog': 10}

In [89]:
my_dict{"dinosaur" : [1,2,3], "dog" : 10, "cat" : 5, "parrot" : 2}
my_dict["dog"]

SyntaxError: invalid syntax (<ipython-input-89-3be44cb6757d>, line 1)